<div class="container mb-5">
  <div class="py-5 text-center">
    <span class="material-symbols-outlined display-1"> book_5 </span>

    <p class="lead">Please add the book you finished reading.</p>
  </div>

  <div class="row g-5">
    <form [formGroup]="isbn" (ngSubmit)="onISBNSearch()">
      <h4 class="mb-3">
        Search your book with ISBN to automatically fill in the book
        information.
      </h4>
      <div class="input-group mb-3">
        <span class="input-group-text" id="isbnSearch">ISBN</span>
        <input
          type="text"
          class="form-control"
          aria-label="ISBN"
          aria-describedby="isbnSearch"
          formControlName="isbnSearch"
          name="isbnSearch"
        />
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!isbn.valid"
        hidden
      >
        Submit
      </button>
    </form>
    <hr />
    <form [formGroup]="book" (ngSubmit)="onSubmit()">
      <h4 class="mb-3">Please complete the details of the book.</h4>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Book Title"
          formControlName="title"
        />
        <label for="title">Book Title</label>
      </div>
      <div class="mb-3">
        <label class="mb-1" for="preview">Book Image</label>
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            id="preview"
            aria-describedby="preview"
            aria-label="Upload"
            formControlName="preview"
            placeholder="Please upload an image of the book!"
          />
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="form-floating">
          <input
            class="form-control"
            id="date"
            formControlName="date"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <label for="date">Date</label>
        </div>
        <button
          class="btn btn-outline-secondary"
          (click)="d.toggle()"
          type="button"
        >
          <span class="material-symbols-outlined"> calendar_month </span>
        </button>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="isbn"
          placeholder="ISBN"
          formControlName="isbn"
        />
        <label for="isbn">ISBN</label>
      </div>
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="comment"
          style="height: 250px"
          formControlName="comments"
        ></textarea>
        <label for="comment">Comments</label>
      </div>
      <input
        type="text"
        class="form-control"
        id="url"
        placeholder="url"
        formControlName="url"
        hidden
      />
      <button class="btn btn-primary" type="submit" [disabled]="!book.valid">
        Submit
      </button>
    </form>
  </div>
</div>
